<!DOCTYPE html>
%html(lang="en")
	%head
		%meta(charset="utf-8")
		- if @description
			%meta(name="description" content=@description)
		- if @keywords
			%meta(name="keywords" content=@keywords)
		%title
			ASP.NET Image Resizing Module for IIS
	
		%link(href="/css/master.css" media="screen" rel="stylesheet")
		%link(href="/css/banners.css" media="screen" rel="stylesheet")

		/[if lte IE 6]
		%link(rel="stylesheet" href="/css/ie6.css" media="screen, projection")

		= local_stylesheet_link_tag('local')

		%link(href="/articles.xml" rel="alternate" type="application/atom+xml")
		= haml :analytics, :layout => false
	%body
		%div#wrap
			= haml :header, :layout => false
			= haml :banners, :layout => false
			= yield
		= haml :footer, :layout => false
		%script{:type => "text/javascript",
				:src  => "/js/jquery-1.5.2.min.js"}
		%script{:type => "text/javascript",
				:src  => "/js/jquery.jshowoff.js"}	
		:javascript
			$(function(){
				$('.featured').jshowoff({speed:10000});
			});

