%div(class="page-content no-banner")
	%div(class="t")
		-if @page and @page.lib("plusone")
			<div style="width:70px;padding-top:25px;float:right"><div class="g-plusone"></div></div>
		:plain
			<h1>
			#{@page.heading}
			</h1>
			<a href="#{@page.metadata('FullFile')}" class="awesome green">Download source, binaries, plugins, and sample code (15MB)</a>
			<a href="#{@page.metadata('MinFile')}" class="awesome black">Download core binary only (170K)</a>
			#{@page.body(self)}
		-if @page and @page.lib("plusone")
			<div class="g-plusone"></div>
	= haml :comments, :layout => false
	
	

